<!-- Start Video Background -->
<div class="video-container" data-vide-bg="video/Dota2">
  <video muted="" autoplay="" loop="">
    <source src="assets/video/Dota2.webm" type="video/webm">
  </video>
  <div class="video-overlay"></div>
</div>
<!-- End Video Background -->
